

h1{
	font-size: 20px;
	color: #CC3366;
	font-family: cursive;
	margin-left: 50px;
}

.fixed{
	width: 100%;
	height:80px;
	/*border: solid 3px black;*/
	background-color: #FFCCCC;
	display: flex;
	justify-content: space-between;
	position: fixed;
	margin-top: -70px;
}


.fruit{
	display: flex;
	margin-top: 30px;
	/*justify-content: flex-end;*/
}

.fruit li img{
	height: 45px;
	width: 45px;
	margin-right: 10px;
}
/*welcomeここから*/

.welcome {
	width: 100%;
	height: 300px;
	/*border: solid 3px black;*/
	background: url(img/sorapi.jpg);
	background-size:100% 300px;
	background-repeat: no-repeat;
	margin-top:70px;
}

.welcome  h2{
	font-size: 60px;
	color: #FFFFFF;
	font-family: cursive;
	text-align: center;
	padding-top: 20px;
}

.welcome ul{
	margin-top: 50px;
}

.welcome  li{
	font-size: 30px;
	color: #fff;
	font-family: cursive;
	text-align: center;
	margin-bottom: 20px;
}

/*セレクトバーここから*/

.selectbar{
	width: 100%;
	height: 90px;
	/*border: solid 3px black;*/
	background-color: #fff;
	/*text-align: center;*/
	display: flex;
	align-content: center;
}

.selectbar ul{
	display: flex;
	margin:0 auto;
	justify-content: space-around;
	align-content: center;
}

.selectbar li{
	height: 30px;
	width: 80px;
	background-color: pink;
	text-align: center;
	color: #fff;
	font-family: cursive;
	margin-left: 50px;
	margin-top: 23px;
	padding-top: 18px;
	/*text-align: center;*/
}

.selectbar li a{
	color: #fff;
}

/*middleここから*/

.middle-top{
	background-color: #FFFFCC;
}


.middle-top img{
	height: 200px;
	width: 200px;
}

.subtitle{
	font-family: cursive;
	font-size:40px;
	color: pink;
	text-align: center;
	padding-top: 15px;
}

.img-box{
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
	margin-left: 30px;
}

.img-box li{
	display: flex;
	flex-direction: column;
	text-align: center;
	margin-bottom: 30px;
	margin-top: 10px;
}

.img-box span{
	font-family: cursive;
	font-size: 18px;
	color: #CC3366;
	margin-top: 10px;
}



/*bodyここから*/

.body{
	width: 100%;
	height: 400px;
	/*border: solid 3px black;*/
	/*background-color: #EAD9FF;*/
	display: flex;
}

.body-left{
	width: 30%;
	background-color: #D9E5FF;
	/*border: solid 3px black;*/
}

.body-left li img{
	height: 180px;
	width: 180px;
	border-radius: 30%;
	margin-top: 10px;
	margin-left: 70px;
	/*text-align: center;*/
}

/*body-rightここから*/

.body-right{
	width: 70%;
	background-color:#EAD9FF ;
	/*border: solid 3px black;*/
}

p{
	color: #fff;
	font-family: cursive;
	font-size: 30px;
	text-align: center;
	margin-top: 50px;
}

.body-right img{
	height: 70px;
	width: 70px;
	margin-left: 650px;
	margin-top: 30px;
}

/*asideここから*/


.contact{
	text-align: center;
	background-color: #FFFFCC;
	/*margin-top: 50px;*/
	height: 350px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

h2{
	font-size: 40px;
	color: pink;
	font-family:cursive;
}

.form{
	display: flex;
	justify-content: center;
}

.form .name ,.form .email{
	height: 50px;
	width: 400px;
	font-size: 16px;
	box-sizing: border-box;
}

.form-left{
	margin-right: 50px;
}

.inquiry{
	height: 120px;
	width: 400px;
	font-size: 16px;
	box-sizing: border-box;
}

.form .name{
	margin-bottom: 20px;
}

.contact .form{
	margin: 50px 0 40px;
}

button{
	background-color:rgba(255,102,153,.5);
	border:solid 3px rgb(255,172,224);
	border-radius: 5px;
	height: 40px;
	width: 80px;
	text-align: center;
	margin-top: 10px;
	font-family:cursive;
	cursor: pointer;
}

button:hover{
	background-color: rgb(255,102,224)
}

/*footerここから*/

footer{
	width: 100%;
	height: 60px;
	/*border: solid 3px black;*/
	background-color: #FFCCCC;
}

h4{
	font-size: 30px;
	font-family: cursive;
	color: #CC3366;
	text-align: center;
	padding-top: 10px;
}